@{
    ViewData["Title"] = "Панель администратора";
}

<h2 class="text-center mb-5">Панель администратора</h2>

<div class="d-flex justify-content-center">
    <div class="row">
        <div class="col-md-8 col-lg-6 mb-4">
            <div class="card h-100 shadow">
                <img class="card-img-top" src="@Url.Content("~/images/Users.jpg")" alt="Пользователи" style="height: 30vh; width: 100%; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Управление пользователями</h5>
                    <p class="card-text">Управляйте пользователями, их ролями и разрешениями.</p>
                    <a href="@Url.Action("Users", "Admin")" class="btn btn-primary">Перейти к пользователям</a>
                </div>
            </div>
        </div>
        <div class="col-md-8 col-lg-6 mb-4">
            <div class="card h-100 shadow">
                <img class="card-img-top" src="@Url.Content("~/images/Products.jpg")" alt="Товары" style="height: 30vh; width: 100%; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Управление товарами</h5>
                    <p class="card-text">Управляйте товарами, категориями и доступностью.</p>
                    <a href="@Url.Action("Products", "Admin")" class="btn btn-primary">Перейти к товарам</a>
                </div>
            </div>
        </div>
        <!-- Add more cards here as needed -->
    </div>
</div>