<!DOCTYPE html>
<html>
<head>
    <title>Доступа нет!</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Вам отказано в правах на свободный интернет!</h2>
        <p>К сожалению, вы недостаточно круты, чтобы быть на этой странице с полными правами на просмотр контента!</p>
    </div>
</body>
</html>
