@model List<Category>

@{
    ViewData["Title"] = "Панель клиента";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center mb-5">Добро пожаловать, Клиент!</h1>
        </div>
    </div>

    <div class="row">
        @foreach (var category in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card shadow">
                    @if (category.Name == "Тракторы")
                    {
                        <img class="card-img-top" src="@Url.Content("~/images/tractorCategory.jpg")" alt="Тракторы" style="height: auto; width: 100%; aspect-ratio: 10/10;">
                    }
                    else if (category.Name == "Специальная техника")
                    {
                        <img class="card-img-top" src="@Url.Content("~/images/specialTechnics.jpg")" alt="Спецтехника" style="height: auto; width: 100%; aspect-ratio: 10/10;">
                    }
                    <div class="card-body">
                        <h5 class="card-title">@category.Name</h5>
                        <a href="@Url.Action("Products", "Client", new { categoryId = category.Id })" class="btn btn-primary">Просмотреть</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
